.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.text-draggable {
  opacity: 0.5;
}

.header {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 3vmin;
  pointer-events: none;
}



.polaroid-20p img {
  width: 60%;
  height: auto;
  cursor: move;
}

.polaroid-50p img {
  width: 50%;
  height: auto;
  cursor: move;
}

.polaroid-70p img {
  width: 70%;
  height: auto;
  cursor: move;
}

.polaroid-85p img {
  width: 85%;
  height: auto;
  cursor: move;
}

.container-polaroid-1 {
/*   background-color: red;
 */  display: flex;
  justify-content: space-between;
  text-align: center;
}

.container-polaroid {
  margin-top: 170px;
}

.container-polaroid-230 {
  margin-top: 230px;
  text-align: center;
}

.container-polaroid-550p {
  margin-top: 450px;
}

.line1 {
  height: 6vw;
  width: 2vw;
  background-color: black;
  margin-top: 130px;
  position: relative;
  z-index: 100;
}

.two-dots {
  display: flex;
  margin-top: 10px;
  position: relative;
  z-index: 100;
  justify-content: center;
}

.black-dot {
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.black-dot-2 {
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  background-color: black;
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
}

.container-polaroid-2 {
  display: flex;
}

.container-polaroid-2-left {
/*   background-color: chocolate;
 */  flex: 4;
  display: flex;
  padding-left: 60px;
}

.left-couple {
/*   background-color: red;
 */  display: flex;
  flex-direction: column;
}

.left-single {
/*   background-color: seagreen;
 */  display: flex;
  flex-direction: column;
}

.container-polaroid-2-right {
/*   background-color: cornflowerblue;
 */  flex: 5;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  text-align: center;
}

.line2 {
  height: 0.8vw;
  width: 6vw;
  background-color: black;
  margin-top: 20px;
  position: relative;
  z-index: 100;
}